@model Book
@{
    ViewData["Title"] = "Form";
}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Successfully deleted!</h4>
  <p>You have just deleted a book</p>
  <hr>
</div>
